/* .col- (extra small devices - screen width less than 576px)
.col-sm- (small devices - screen width equal to or greater than 576px)
.col-md- (medium devices - screen width equal to or greater than 768px)
.col-lg- (large devices - screen width equal to or greater than 992px)
.col-xl- (xlarge devices - screen width equal to or greater than 1200px) */

@font-face {
    font-family: 'reefbold';
    src: url('WebFonts/reef-webfont.woff2') format('woff2'),
         url('WebFonts/reef-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'plugynCasual';
  src: url('WebFonts/plugynCasual.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



/* GENERAL */

html{
  scroll-behavior:smooth;
}


body{
  padding-top:15px;
  text-align:center;
  margin:0px;
  background-color:#171818;
  }

img{
    max-width:100%;
    height:auto;
}
button{
    background:none;
    border:none;
    outline:none;
}




/* HEADER */

  .logo{
    -webkit-transition: all .5s ease;
      transition: all .5s ease;
  }

    .logo:hover{
      -webkit-filter: brightness(130%);
      filter:brightness(130%);
    }
    

    .logo-image{
      max-height:100px;
      
    }
    
    .header-buttons{
      margin-left:5px;
      margin-right:5px;
      padding:0;

    }
    .menu-button{
        display:block;
        background:url("./menuMedium.png") no-repeat;
        background-position:50% 50%;
        width:52px;
        height:50px;
    }
    .profile-button{
      display:block;
      background:url("./profileMedium.png") no-repeat;
      background-position:50% 50%;
      width:52px;
      height:50px;
  }
    .button-background{
      background-color: rgba(0,0,0,.12);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      
  }
    .nav-item{
      
      white-space: nowrap;
    }

    
    .nav-item-text a{
      text-decoration: none;
      color:white;
      font-size:18px;
      font-family:"plugynCasual";
      font-weight: 900;
      line-height:40px;
      transition:font-size 0.2s ease-out;
    }

    .nav-item-text a:hover{
      font-size:22px;
      border-bottom:.5px solid #dfc777;
      transition :font-size 0.2s ease-out;
      
    }
    
    

    /* SHOWCASE */

    .showcase-text{
      padding-top:60px;
    }
    .showcase-text-title{
      font-family:"plugynCasual";
      font-weight: 900;
      font-size:25px;
      line-height:1.2;
      margin-bottom:24px;
      margin-left:5px;
      margin-right:5px;
      text-transform:uppercase;
      letter-spacing:3px;
      color:#dfc777;
    }

    .showcase-text-main{
      font-family:"plugynCasual";
      font-size:28px;
      line-height:1;
      margin-bottom:20px;
      margin-left:5px;
      margin-right:5px;
      color:white;
      text-transform:uppercase;
    }
    .showcase-text-main-2{
      font-family:"plugynCasual";
      font-size:24px;
      line-height:1;
      margin-bottom:20px;
      margin-left:5px;
      margin-right:5px;
      color:white;
      text-transform:uppercase;
    }
    

    .button-1{
      font-family:"plugynCasual";
      height:44px;
      text-transform: uppercase;
      color:white;
      background-color:#b8994a;
      width:85%;
      font-size:20px;
      font-weight: 700;
      border-radius:3px;
      margin-bottom:26px;
      text-shadow:0 1px 1px rgba(0,0,0,.2);
      cursor:pointer;
    }
    .button-1:hover{
      background-color:rgba(241,190,68,1);
      transition:background-color 0.4s ease-out;
      
    }

    .button-2{
      font-family:"plugynCasual";
      height:44px;
      text-transform: uppercase;
      color:white;
      background-color:transparent;
      width:85%;
      font-size:20px;
      font-weight: 700;
      border-radius:3px;
      border:2px solid rgba(241,190,68,.4);
      margin-bottom:26px;
      cursor:pointer;

      
    }

    .button-2:hover{
      border:2px solid rgba(248, 234, 141, 0.4);
    }
    .button-3{
      font-family:"plugynCasual";
      height:44px;
      text-transform: uppercase;
      color:white;
      background-color:rgba(0,0,0,.8);;
      width:32%;
      font-size:16px;
      font-weight: 700;
      border-radius:3px;
      border:1px solid rgba(255,255,255,.4);
      margin-bottom:24px;
      text-shadow:0 1px 1px rgba(0,0,0,.2);
      cursor:pointer;
    }
    .button-4{
      font-family:"plugynCasual";
      height:80%;
      text-transform: uppercase;
      color:white;
      background-color:#b8994a;
      border:1px solid #b8994a;
      width:50%;
      font-size:16px;
      font-weight: 700;
      border-radius:3px;
      margin-bottom:24px;
      text-shadow:0 1px 1px rgba(0,0,0,.2);
      cursor:pointer;
    }

    .button-4:hover{
      background-color:rgba(241,190,68,1);
      transition:background-color 0.4s ease-out;
      
    }

    .button-5{
      font-family:"plugynCasual";
      height:80%;
      text-transform: uppercase;
      color:white;
      background-color:#b8994a;
      border:1px solid #b8994a;
      width:40%;
      font-size:16px;
      font-weight: 700;
      border-radius:3px;
      margin-bottom:24px;
      text-shadow:0 1px 1px rgba(0,0,0,.2);
      cursor:pointer;
      
    }
    .button-5:hover{
      background-color:rgba(241,190,68,1);
      transition:background-color 0.4s ease-out;
      
    }


    /* SERVER LIST */

    .servers-section{
      margin-top:28px;
      padding-right:40px;
      padding-left:40px;
    }
    .servers-title{
      font-family:"plugynCasual";
      font-size:30px;
      color:white;
      font-weight: 900;
      padding-bottom:5px;
      margin-bottom:24px;
      border-bottom: 1px solid #dfc777;
    }
    .servers{
      padding-right:30px;
      padding-left:30px;
    }
    .server-item{
      
      width:100%;
      padding-right:15px;
      padding-left:15px;
      margin-bottom:35px;
      margin-left:15px;
      margin-right:15px;
      border-radius:5px;
      border:0.5px solid rgb(255,255,255,0.2);
      background-size:cover;
      background-position: 50% 20%;
      min-width:270px;
      box-shadow: 0 6px 10px 0 rgba(0,0,0,.25);
      -webkit-transition: all .5s ease;
      transition: all .5s ease;
      
    }
    .server-item:hover{
      -webkit-filter: brightness(130%);
      filter:brightness(130%);
    }

    
    .server-content{
      width:100%;
    }

    .server-name{
      font-family: "plugynCasual";
      font-size:35px;
      font-weight:700;
      color:white;
      
    }
    .server-description{
      font-family:"plugynCasual";
      font-weight:600;
      font-size:18px;
      color:white;
      background: rgba(0,0,0,.2);
      border-radius:2px;
      border-bottom:1px solid #dfc777;
      border-top:1px solid #dfc777;
      padding:20px;
    }
    .server-price{
      font-family: "plugynCasual";
      font-weight: 900;
      font-size:30px;
      color:white;
      padding:2% 5% 2% 5%;
      
      
    }
    
    /* Reviews */

    .reviews-container{
      padding-right:20px;
      padding-left:20px;
    }

    .reviews-title{
      font-family:"plugynCasual";
      font-size:36px;
      color:white;
      font-weight: 900;
      padding-bottom:5px;
      margin-bottom:24px;
      border-bottom: 1px solid #dfc777;
    }
    .reviews-text{
      font-family:"plugynCasual";
      font-size:22px;
      margin-bottom:10px;
      color:white;
    }

    .review-elite-box{
      background:rgba(111,111,111,0.05);
      border-radius:6px;
      border:0.5px solid rgb(255,255,255,0.3);
      
    }
    .reviews-elite{
      font-family:"plugynCasual";
      font-size:26px;
      color:white;
      font-weight: 900;
      margin-top:1px;
      margin-bottom:10px;
      padding-top:10px;
      
      
    }

    .stars-container{
      margin-top:5px;
      margin-bottom:10px;
    }
    .stars{
      width:60%;
    }
    .rates{
      font-family:"plugynCasual";
      font-size:30px;
      color:#dfc777;
    }
    .elite-text{
      font-family:"plugynCasual";
      font-size:28px;
      font-weight: 900;
      margin-top:5px;
      padding-bottom:10px;

    }
    .elite-text a{
      text-decoration: none;
      color:#dfc777;
    }

  /* Traits */

  .trait-item{
      
      margin-top:40px;
      
 
  }

  .trait-img{
    max-width: 150px;
    display:block;
    margin:0 auto;
    
  }

  .trait-header{
    font-family:"plugynCasual";
    font-size:25px;
    color:#dfc777;
    font-weight: 550;
    margin-top:5px;

    
  }
  .trait-text{
    font-family:"plugynCasual";
    font-size:17px;
    color:white;
 
  }


  /* Footer */

  .footer{
    margin-top:100px;
    min-width: 100%;
    max-width: 100%;
    background-color:rgb(0,0,0,0.4);
    padding-left:100px;
    padding-right:100px;
    padding-top:30px;
    padding-bottom:20px;
    
    border-top:1px solid #dfc777;
  }

  .footer{
    padding-left:30px;
  }
  .footer-info-header{
    font-family:"plugynCasual";
    font-size:18px;
    font-weight: 900;
    color:rgb(41, 41, 41);
    width:50%;
    margin:0 auto;
    
  }
  .footer-info-list{
    
  }
  .footer-info-list a{
    text-decoration: none;
    font-family:"plugynCasual";
    font-size: 16px;
    color:rgb(141, 141, 141);
    font-weight: 700;
  }
  .footer-info-list a:hover{
    color:rgb(73, 73, 73);
  }

  .footer-logo{
    max-width:200px;
  }

  .copyright-text{
    font-family:"plugynCasual";
    font-size: 16px;
    font-weight: 600;
    color:rgb(141, 141, 141);
  }
  .footer-contact-logo{
    max-width: 15px;
    margin-right:10px;
  }

  .discord-text{
    text-decoration: none;
    font-family:"plugynCasual";
    font-size: 16px;
    color:rgb(141, 141, 141);
    font-weight: 700;
  }

  .footer-register-text{
    text-decoration: none;
    font-family:"plugynCasual";
    font-size: 13px;
    color:rgb(141, 141, 141);
    font-weight: 700;
  }

/* how it works */

  .howitworks{
    background-color:rgba(10,10,10,0.4);
    border-radius:10px;
    border:0.5px solid rgb(141, 141, 141,0.5);
    padding:35px 50px 35px 50px;
  }

  .howitworks-text{
    font-family:"plugynCasual";
    font-size: 18px;
    color:rgb(200, 200, 200);
    font-weight: 700;
    
  }

  .howitworks-header{
    font-family:"plugynCasual";
    font-size: 35px;
    color:rgb(240, 240, 240);
    font-weight: 700;
    margin-bottom:10px;
    
  }

  .howitworks-header-2{
    font-family:"plugynCasual";
    font-size: 24px;
    color:rgb(240, 240, 240);
    font-weight: 500;
    margin-bottom:10px;
    
  }
  .howitworks-header-3{
    margin-top:30px;
    font-family:"plugynCasual";
    font-size: 25px;
    color:rgb(240, 240, 240);
    font-weight: 500;
    border-bottom:1px solid #dfc777;
    
    
    
  }

  .how-paragraph{
    margin-top:20px;
  }

  .payment-methods{
    margin-top:22px;
    margin-left:auto;
    margin-right:auto;
    
  }

  .payment-method-logo{
    max-width: 100px;
    
  }
  .payment-method-logo-psc{
    max-width: 200px;
    
    
  }

  .contact-button{
    margin-top:25px;
  }



.signature{
  width:100%;
  margin-top:50px;
  margin-left:70%;
  margin-bottom:30px;
}

.faq-question{
  font-size:21px;
  font-weight: 900;
  color:#dfc777;
  margin-top:10px;
 
}
.faq-answer{
  border-bottom:.5px solid white;
  border-top:.5px solid white;
  border-radius:10px;
  padding-top:15px;
  padding-bottom:15px;
}





/* Background */

.background__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 560px;
    width: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("./siteBackgroundJP.jpg");
    z-index: -1; }
   /*  @media (max-width: 2000px) {
      .background__image {
        background-image: url("../../assets/images/bg/bg_top_default@1980.jpg"); } }
    @media (max-width: 1200px) {
      .background__image {
        background-image: url("../../assets/images/bg/bg_top_default@1024.jpg"); } } */
    @media (max-width: 767px) {
      .background__image {
        height: 240px; } 
    }
    .background__image:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 24, 24, 0)), to(#171818));
        background-image: -webkit-linear-gradient(top, rgba(23, 24, 24, 0) 0%, #171818 100%);
        background-image: -o-linear-gradient(top, rgba(23, 24, 24, 0) 0%, #171818 100%);
        background-image: linear-gradient(to bottom, rgba(23, 24, 24, 0) 0%, #171818 100%); }
      .background__image:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1; }
    .background__image--homepage {
      background-position: 50% 0;
      background-image: url("./siteBackgroundJP.jpg");
      background-color: #171818;
      background-size: cover;
      height: 100%;
      min-height: 923px;
      max-height: 1141px; }
      @media (max-width: 767px) {
        .background__image--homepage {
          height: auto;
          min-height: 600px;
          background-position: 43%; } }
    @media (max-width: 767px) and (orientation: portrait) {
      .background__image--homepage {
        background-image: url("./siteBackgroundMobile.jpg"); } 
      .background__image--homepage:before {
            display: none; }
      .background__image--homepage:after {
            display: none; }
        @media (max-width: 767px) {
              .background__image--homepage:after {
                display: block;
                background: -webkit-radial-gradient(65.28% 100% at 49.24% 0%, rgba(33, 35, 36, 0.42547) 0%, #171818 100%), -webkit-radial-gradient(80.61% 80.61% at 93.68% 0%, rgba(21, 129, 246, 0.15) 0%, rgba(21, 129, 246, 0.0001) 100%), -webkit-radial-gradient(80.27% 80.27% at -3.25% 100%, rgba(241, 45, 22, 0.1) 0%, rgba(241, 45, 22, 0.0001) 100%);
                background: -o-radial-gradient(65.28% 100% at 49.24% 0%, rgba(33, 35, 36, 0.42547) 0%, #171818 100%), -o-radial-gradient(80.61% 80.61% at 93.68% 0%, rgba(21, 129, 246, 0.15) 0%, rgba(21, 129, 246, 0.0001) 100%), -o-radial-gradient(80.27% 80.27% at -3.25% 100%, rgba(241, 45, 22, 0.1) 0%, rgba(241, 45, 22, 0.0001) 100%);
                background: radial-gradient(65.28% 100% at 49.24% 0%, rgba(33, 35, 36, 0.42547) 0%, #171818 100%), radial-gradient(80.61% 80.61% at 93.68% 0%, rgba(21, 129, 246, 0.15) 0%, rgba(21, 129, 246, 0.0001) 100%), radial-gradient(80.27% 80.27% at -3.25% 100%, rgba(241, 45, 22, 0.1) 0%, rgba(241, 45, 22, 0.0001) 100%); } }
      
      }
 

@media only screen and (min-width: 670px){

  .reviews-text{
    margin-left:10%;
    margin-right:10%;
  }

  .review-elite-box{
    margin-left:27%;
    margin-right:27%;
  }

  .reviews-title{
    margin-left: 20%;
    margin-right:20%;
  }
  
}


@media only screen and (max-width: 768px) {



  .server-item {
    margin-left:0px;
    margin-right:0px;
  }

  .nav-item{
    display:none;
  }

}

@media only screen and (min-width: 768px) {

    .mobile-header-button{
      display:none;
    }

    .button-1{
      width:51%;
    }
    .button-2{
      width:51%;
    }
    .showcase-text-main{
      margin-left:20%;
      margin-right:20%;
      font-weight: 900;
      font-size:30px;
    }

  

}

@media only screen and (min-width: 992px){


  .showcase-text-title{
    font-size:50px;
  }
}


      