/* .col- (extra small devices - screen width less than 576px)
.col-sm- (small devices - screen width equal to or greater than 576px)
.col-md- (medium devices - screen width equal to or greater than 768px)
.col-lg- (large devices - screen width equal to or greater than 992px)
.col-xl- (xlarge devices - screen width equal to or greater than 1200px) */

@font-face {
    font-family: 'reefbold';
    src: url('WebFonts/reef-webfont.woff2') format('woff2'),
         url('WebFonts/reef-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* GENERAL */

body{
    text-align:center;
    margin:0px;
    background-color:#171818;
  }

img{
    max-width:100%;
    height:auto;
}
button{
    background:none;
    border:none;
    outline:none;
}


/* HEADER */

@media only screen and (max-width: 767px){
    .container{
      margin-left:0px;
      margin-left:0px;
    }
    .col-7{
      padding-top:5px;
      padding-bottom:5px;
    }
    .col-5{
      padding-top:15px;
      padding-bottom:15px;
    }
    
    .logo-test{
      max-height:85px;
    }
    
    .header-buttons{
      margin-left:5px;
      margin-right:5px;
      padding:0;

    }
    .menu-button{
        display:block;
        background:url("./menuMedium.png") no-repeat;
        background-position:50% 50%;
        width:52px;
        height:50px;
    }
    .profile-button{
      display:block;
      background:url("./profileMedium.png") no-repeat;
      background-position:50% 50%;
      width:52px;
      height:50px;
  }
    .button-background{
      background-color: rgba(0,0,0,.12);
      background-repeat: no-repeat;
      background-position: 50% 50%;
      
    }
    

    /* SHOWCASE */

    .showcase-text{
      padding-top:60px;
    }
    .showcase-text-title{
      font-family:"reefbold";
      font-size:22px;
      line-height:1.2;
      margin-bottom:24px;
      text-transform:uppercase;
      letter-spacing:3px;
      color:#dfc777;
    }

    .showcase-text-main{
      font-family:"reefbold";
      font-size:36px;
      line-height:1;
      margin-bottom:20px;
      margin-left:5px;
      margin-right:5px;
      color:white;
      text-transform:uppercase;
    }

    .button-1{
      font-family:"reefbold";
      height:44px;
      text-transform: uppercase;
      color:white;
      background-color:#b8994a;
      width:85%;
      font-size:20px;
      font-weight: 700;
      border-radius:3px;
      margin-bottom:26px;
      text-shadow:0 1px 1px rgba(0,0,0,.2);
    }

    .button-2{
      font-family:"reefbold";
      height:44px;
      text-transform: uppercase;
      color:white;
      background-color:transparent;
      width:85%;
      font-size:20px;
      font-weight: 700;
      border-radius:3px;
      border:2px solid rgba(241,190,68,.4);
      margin-bottom:26px;
    }


    /* SERVER LIST */

    .servers-section{
      margin-top:28px;
    }
    .servers-title{
      font-family:"reefbold";
      font-size:36px;
      color:white;
      font-weight: 900;
    }
    .servers{
      padding-right:20px;
      padding-left:20px;
    }

    .items{
      width:100%;
      padding-right:15px;
      padding-left:15px;
      margin-bottom:10px;
    }
}



/* Background */

.background__image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 560px;
    width: 100%;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url("./siteBackgroundJP.jpg");
    z-index: -1; }
   /*  @media (max-width: 2000px) {
      .background__image {
        background-image: url("../../assets/images/bg/bg_top_default@1980.jpg"); } }
    @media (max-width: 1200px) {
      .background__image {
        background-image: url("../../assets/images/bg/bg_top_default@1024.jpg"); } } */
    @media (max-width: 767px) {
      .background__image {
        height: 240px; } 
    }
    .background__image:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(23, 24, 24, 0)), to(#171818));
        background-image: -webkit-linear-gradient(top, rgba(23, 24, 24, 0) 0%, #171818 100%);
        background-image: -o-linear-gradient(top, rgba(23, 24, 24, 0) 0%, #171818 100%);
        background-image: linear-gradient(to bottom, rgba(23, 24, 24, 0) 0%, #171818 100%); }
      .background__image:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1; }
    .background__image--homepage {
      background-position: 50% 0;
      background-image: url("./siteBackgroundJP.jpg");
      background-color: #171818;
      background-size: cover;
      height: 100%;
      min-height: 923px;
      max-height: 1141px; }
      @media (max-width: 767px) {
        .background__image--homepage {
          height: auto;
          min-height: 600px;
          background-position: 43%; } }
    @media (max-width: 767px) and (orientation: portrait) {
      .background__image--homepage {
        background-image: url("./siteBackgroundMobile.jpg"); } 
      .background__image--homepage:before {
            display: none; }
      .background__image--homepage:after {
            display: none; }
        @media (max-width: 767px) {
              .background__image--homepage:after {
                display: block;
                background: -webkit-radial-gradient(65.28% 100% at 49.24% 0%, rgba(33, 35, 36, 0.42547) 0%, #171818 100%), -webkit-radial-gradient(80.61% 80.61% at 93.68% 0%, rgba(21, 129, 246, 0.15) 0%, rgba(21, 129, 246, 0.0001) 100%), -webkit-radial-gradient(80.27% 80.27% at -3.25% 100%, rgba(241, 45, 22, 0.1) 0%, rgba(241, 45, 22, 0.0001) 100%);
                background: -o-radial-gradient(65.28% 100% at 49.24% 0%, rgba(33, 35, 36, 0.42547) 0%, #171818 100%), -o-radial-gradient(80.61% 80.61% at 93.68% 0%, rgba(21, 129, 246, 0.15) 0%, rgba(21, 129, 246, 0.0001) 100%), -o-radial-gradient(80.27% 80.27% at -3.25% 100%, rgba(241, 45, 22, 0.1) 0%, rgba(241, 45, 22, 0.0001) 100%);
                background: radial-gradient(65.28% 100% at 49.24% 0%, rgba(33, 35, 36, 0.42547) 0%, #171818 100%), radial-gradient(80.61% 80.61% at 93.68% 0%, rgba(21, 129, 246, 0.15) 0%, rgba(21, 129, 246, 0.0001) 100%), radial-gradient(80.27% 80.27% at -3.25% 100%, rgba(241, 45, 22, 0.1) 0%, rgba(241, 45, 22, 0.0001) 100%); } }
      
      }
 